<div class="row">
  <div class="col-md-12">
    <h1>Posts</h1>
  </div>
  <div class="col-md-12">
    <table class="table table-striped">
      <%= render partial: 'miniblog/admin/posts/post', collection: @posts %>
    </table>
  </div>
</div>
